@media (max-width: 1280px) {
  .container {
    width: 90%;
  }
  .main .content {
    width: 70%;
  }
  .main .content h5 {
    font-size: 23px;
  }

  .main .content h1 {
    width: 80%;
    font-size: 35px;
  }

  .main .content p {
    width: 80%;
  }

  .main figure {
    width: 30%;
  }

  .main .profile {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .main .content {
    width: 70%;
  }
  .main .content h5 {
    font-size: 20px;
  }

  .main .content h1 {
    width: 80%;
    font-size: 27px;
    line-height: 40px;
    margin: 0.5rem 0;
  }

  .main .content p {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .main .content .hireBtn {
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
  }

  .main .content .projectBtn {
    padding: 0.3rem 0.5rem;
  }

  .main figure {
    width: 30%;
  }

  .main .profile {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .main .content {
    width: 66%;
  }
  .main .content h5 {
    font-size: 20px;
  }

  .main .content h1 {
    width: 80%;
    font-size: 27px;
    line-height: 40px;
    margin: 0.5rem 0;
  }

  .main .content p {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .main .content .hireBtn {
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
  }

  .main .content .projectBtn {
    padding: 0.3rem 0.5rem;
  }

  .main figure {
    width: 40%;
  }

  .main .profile {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 640px) {
  body .toggle {
    display: block;
    right: 2rem;
    top: 3rem;
  }

  .navbar {
    display: none;
  }

  .main {
    margin-top: 7rem;
    align-items: center;
  }

  .main .content {
    width: 66%;
  }
  .main .content h5 {
    font-size: 18px;
  }

  .main .content h1 {
    width: 100%;
    font-size: 25px;
    line-height: 40px;
    margin: 0.5rem 0;
  }

  .main .content p {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .main .content .hireBtn {
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
  }

  .main .content .projectBtn {
    padding: 0.3rem 0.5rem;
  }

  .main figure {
    width: 40%;
  }

  .main .profile {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 349px) {
  .main .content .hireBtn {
    padding: 0.3rem 0.6rem;
    margin-right: 0.2rem;
  }

  .main .content .projectBtn {
    padding: 0.3rem 0.6rem;
  }
}

@media (max-width: 426px) {
  .main .content {
    width: 100%;
  }
  .main figure {
    display: none;
  }
  .main .content p {
    width: 100%;
  }
  .main {
    margin-top: 4rem;
  }
}

